# git related
.git
.gitignore

# IDE
.idea
.vscode

# macOS
.DS_Store

# python venv
venv

# web server related
static
templates
data

# Python runtime
__pycache__
*/__pycache__
*/*/__pycache__
.pytest_cache
*/.pytest_cache
*/*/.pytest_cache
*.pyc
*/*.pyc

# ci
.travis*
.drone*
Jenkinsfile

# docs
docs*
readme.md
README.md
